// @file CSS styles for settings pages
// @copyright Digital Living Software Corp. 2014-2016

.pip-settings{
  font-size: @font-size-body2;

  .pip-date{
  md-input-container{
    margin-top: 4px;
    margin-bottom: 4px;
  }}

  .pip-body{
    padding-left: 24px !important;
    padding-right: 24px !important;

    @media (max-width: 768px) {
      padding-left: 16px !important;
      padding-right: 16px !important;
    }
  }

  @media (min-width: 1200px ) {
    md-list:first-of-type {
      width: 300px;
    }
    .pip-content-container {
      width: 1100px - 300px;
      position: absolute;
      left: 300px;
      max-height: 100%;
      -ms-overflow-y: auto;
    }
  }

  @media (min-width: 1000px) and (max-width: 1200px) {
    .pip-content-container {
      width: ~"calc(100% - 300px)";
      -ms-overflow-y: auto;
    }
  }
  @media (min-width: 768px) and (max-width: 1200px) {
    md-list:first-of-type {
      width: 30%;
    }
    .pip-content-container {
      width: 70%;
      position: absolute;
      left: 30%;
      max-height: 100%;
      -ms-overflow-y: auto;
    }
  }


  &.pip-card .pip-header ~ .pip-body, &.pip-document .pip-header ~ .pip-body{
    padding-top: 24px !important;
  }

  .pip-contact-info{
    md-select{
      min-width: 150px;
    }

    .pip-select {
      margin-top: 4px;
      md-select {
        height: 44px;
      }

    }

    md-input-container{
      margin-bottom: 8px;

      .md-errors-spacer{
        height: 0px !important;
        min-height: 0px;
      }
    }

  }
}