<md-dialog class="pip-dialog layout-column"  width="440">
    <div class="pip-body">
        <div class="pip-content">
                <md-progress-linear ng-show="transaction.busy()" md-mode="indeterminate" class="pip-progress-top" >
                </md-progress-linear>

                <h2>{{::'VERIFY_EMAIL_TITLE' | translate}}</h2>

                <p class="title-padding">{{::'VERIFY_EMAIL_TEXT_1' | translate}} </p>

                <form name='form' novalidate>
                    <div ng-messages="form.$serverError" class="text-error bm8">
                        <div ng-message="ERROR_UNKNOWN">{{ form.$serverError.ERROR_UNKNOWN | translate }}</div>
                    </div>

                    <md-input-container class="display  bp4 md-block" >
                        <label>{{::'EMAIL' | translate}}</label>
                        <input name="email" type="email" ng-model="data.email" required step="any"
                               pip-clear-errors  tabindex="1"
                               ng-disabled="transaction.busy()"
                               pip-test="input-email"/>
                        <div class="hint" ng-if="errorsWithHint(form, form.email).hint">{{::'HINT_EMAIL' | translate}}</div>
                        <div ng-messages="errorsWithHint(form, form.email)"
                             xng-if="!form.email.$pristine">
                            <div ng-message="required">{{::'ERROR_EMAIL_INVALID' | translate }}</div>
                            <div ng-message="ERROR_1106">{{::'ERROR_USER_NOT_FOUND' | translate}}</div>
                        </div>
                    </md-input-container>

                    <md-input-container class="md-block">
                        <label>{{::'ENTRY_VERIFICATION_CODE' | translate}}</label>
                        <input name="code" ng-disabled="transaction.busy()" tabindex="0"
                               ng-model="data.code" required pip-clear-errors/>
                        <div ng-messages="errorsWithHint(form, form.code)">
                            <div ng-message="required"> {{::'ERROR_CODE_INVALID' | translate }}</div>
                            <div ng-message="ERROR_1103"> {{::'ERROR_CODE_WRONG' | translate }}</div>
                        </div>
                    </md-input-container>

                    <p>
                        {{::'VERIFY_EMAIL_TEXT_21' | translate}}
                        <a ng-click="onRequestVerificationClick()" class="pointer" tabindex="0">{{::'VERIFY_EMAIL_RESEND' | translate}}</a>
                        {{::'VERIFY_EMAIL_TEXT_22' | translate}}
                    </p>
                </form>
            </div>
        </div>
        <div class="pip-footer">
            <md-button ng-click="onCancel()" ng-hide="transaction.busy()" aria-label="xxx">
                {{::'CANCEL' | translate}}
            </md-button>
            <md-button class="md-accent" ng-click="onVerify()" ng-hide="transaction.busy()" tabindex="0" aria-label="xxx"
                ng-disabled="data.code.length == 0 || data.email.length == 0 || (!data.email && form.$pristine) || (!data.code)">
                {{::'VERIFY' | translate}}
            </md-button>
            <md-button class="md-warn" ng-show="transaction.busy()" ng-click="transaction.abort()" tabindex="0" aria-label="xxx">
                {{::'CANCEL' | translate}}
            </md-button>

        </div>
</md-dialog>