
    <md-progress-linear ng-show="transaction.busy()" md-mode="indeterminate" class="pip-progress-top">
    </md-progress-linear>
    <div class="pip-details-title pip-sessions">
        <p class="pip-title bm16">
            {{::'SETTINGS_ACTIVE_SESSIONS_TITLE' | translate}}
        </p>

        <p class="pip-subtitle">
            {{::'SETTINGS_ACTIVE_SESSIONS_SUBTITLE' | translate}}
        </p>
    </div>


<md-list class="w-stretch">
    <div ng-repeat="session in sessions" >
        <div class="layout-row"
             ng-init="showBlock = session.id != sessionId"
             ng-click="showBlock = !showBlock" >
            <p class="m0 text-subhead2 text-overflow max-w50-stretch">
                {{::session.client}}
            </p>
            <p class="m0 lp4 text-body1 color-secondary-text flex">
                {{::'SETTINGS_ACTIVE_SESSION_ACTIVE' | translate}}
            </p>
            <p class="m0 text-body1 color-secondary-text ">
                {{::country}}
                <md-icon ng-if="showBlock" md-svg-icon="icons:triangle-up"></md-icon>
                <md-icon ng-if="!showBlock" md-svg-icon="icons:triangle-down"></md-icon>
            </p>
        </div>
        <div class="layout-row bm8 bp8" ng-class="{'divider-bottom':!$last}" >
            <div flex="50">
                <p class="m0 bm4 text-body1 text-overflow color-secondary-text ">
                    {{session.last_req | date : 'medium'}}
                </p>
                <p class="m0 bm4 text-body1 text-overflow color-secondary-text"
                   ng-show="showBlock">
                    {{::'SETTINGS_ACTIVE_SESSION_OS' | translate}}{{::session.platform}}</p>
                <p class="m0 bm4 text-body1 text-overflow color-secondary-text"
                   ng-show="showBlock">
                    {{::'SETTINGS_ACTIVE_SESSION_IP' | translate}}{{::session.address}}
                </p>
                <md-button class="md-raised"
                           ng-show="showBlock && session.id != sessionId"
                           ng-click="onRemove(session)">
                    {{::'SETTINGS_ACTIVE_SESSIONS_CLOSE_SESSION' | translate}}
                </md-button>
            </div>

            <pip-location-ip class="map-edit flex-50" ng-if="showBlock"
                             pip-ipaddress="session.address"
                             pip-extra-info="country = extraInfo.country">
            </pip-location-ip>
        </div>

    </div>
</md-list>
<div class="layout-row layout-align-end-center">
    <md-button class="md-raised"
               ng-show="sessions.length > 1"
               ng-click="onRemoveAll()">
        {{::'SETTINGS_ACTIVE_SESSIONS_CLOSE_ACTIVE_SESSIONS' | translate}}
    </md-button>
</div>
