// @file CSS styles for settings pages
// @copyright Digital Living Software Corp. 2014-2016

.pip-settings {
  .md-tile-left {
    position: relative;
    margin-right: 16px;
    height: 80px;
    width: 80px
  }

  .pip-date {
    md-input-container {
      margin-top: 4px;
      margin-bottom: 4px;
    }
  }

  .pip-contact-info {
    md-select {
      min-width: 150px;
    }

    .pip-select {
      margin-top: 4px;
      md-select {
        height: 44px;
      }

    }

    md-input-container {
      margin-bottom: 8px;

      .md-errors-spacer {
        height: 0px !important;
        min-height: 0px;
      }
    }

  }
}