// $pip-settings-list-width: 300px;
// $pip-settings-document-width: 960px;

.pip-settings {
    .pip-settings-list {
        overflow-x: hidden;

        .pip-ref-list-item {
            max-width: calc(100% - 16px);

            .pip-settings-icon {
                width: 40px!important;
                height: 40px!important;
                text-align: center;
                border-radius: 20px;
                padding: 8px;
                margin: 16px 16px 16px 0px;

                md-icon {
                    position: relative;
                    width: 24px;
                    height: 24px;
                    vertical-align: top!important;
                    margin: 0px!important;
                    padding: 0px!important;
                    color: #fff;
                }
            }

            .pip-settings-icon-color {
                background-color: $color-primary;
            }

            .pip-content {
                max-width: calc(100% - 96px);
                padding-bottom: 16px;
                padding-top: 16px;     
            }

            .pip-settings-without-icon.pip-content {
                max-width: calc(100% - 40px);
            }

            .pip-ref-list-item-end-icon {

            }
        }
   
    }
}

// .pip-settings {
//   .pip-content-container {
//     min-height: 100%;
//   }
//   .pip-body {
//     max-width: none !important;
//     min-height: 100%
//   }

//   &.pip-card .pip-header ~ .pip-body,
//   &.pip-document .pip-header ~ .pip-body {
//     padding-top: 24px !important;
//   }
// }

// .pip-gt-sm {
//   .pip-settings { 
//     md-list.pip-menu {
//       width: $pip-settings-list-width;
//       min-width: $pip-settings-list-width;
//     }

//     .pip-content-container {
//       width: calc(100% - 300px);
//     }

//     pip-dropdown {
//       display: none;
//     }
//   }
// }

// .pip-xs, .pip-sm {
//   .pip-settings { 
//     .pip-content-container {
//       width: 100%;
//       left: 0 !important;
//     }
//     md-list.pip-menu {
//       display: none;
//     }
//     .pip-body {
//       min-height: calc(100% - 64px);
//     }
//   }
// }
