// CSS styles for settings module
// (�) Digital Living Software Corp. 2014-2016

@pip-settings-list-width: 300px;
@pip-settings-document-width: 960px;
@pip-sm-size: 716px;

.pip-settings {

  .pip-content-container {
    min-height: 100%;
  }
  .pip-body {
    max-width: none !important;
    min-height: 100%
  }

  @media (min-width: @pip-sm-size) {
    md-list.pip-menu {
      width: @pip-settings-list-width;
      min-width: @pip-settings-list-width;
    }

    .pip-content-container {
      width: ~"calc(100% - 300px)";
    }

    pip-dropdown {
      display: none;
    }
  }

   @media (max-width: @pip-sm-size) {
    .pip-content-container {
      width: 100%;
      left: 0 !important;
    }
    md-list.pip-menu {
      display: none;
    }
    .pip-body {
      min-height: ~"calc(100% - 64px)";
    }
  }

  &.pip-card .pip-header ~ .pip-body,
  &.pip-document .pip-header ~ .pip-body {
    padding-top: 24px !important;
  }
}
