<md-toolbar class="pip-appbar-ext"></md-toolbar>
<pip-document width="800" min-height="400"
              class="pip-settings">

    <div class="pip-menu-container"
         ng-hide="manager === false || !tabs || tabs.length < 1">
        <md-list class="pip-menu pip-simple-list hide-xs"
                 pip-selected="selected.tabIndex"
                 pip-selected-watch="selected.navId"
                 pip-select="onNavigationSelect($event.id)">
            <md-list-item class="pip-simple-list-item pip-selectable flex"
                          ng-repeat="tab in tabs track by tab.state" ng-if="$party.id == $user.id ||
                          tab.state == 'settings.basic_info'|| tab.state =='settings.contact_info'
                          || tab.state =='settings.blacklist'"
                          md-ink-ripple
                          pip-id="{{:: tab.state }}">
                <p>{{::tab.title | translate}}</p>
            </md-list-item>
        </md-list>

        <div class="pip-content-container" ng-if="selected.tab">
            <pip-dropdown class="hide-gt-xs"
                          pip-actions="tabs"
                          pip-dropdown-select="onDropdownSelect"
                          pip-active-index="selected.tabIndex"></pip-dropdown>

            <div class="pip-body tp24-flex layout-column" ui-view></div>
        </div>
    </div>
    <div class="layout-column layout-align-center-center flex"
         ng-show="manager === false || !tabs || tabs.length < 1">
        {{::'ERROR_400' | translate}}
    </div>
</pip-document>