
.pip-settings {

  .pip-content-container {
    min-height: 100%;
  }
  .pip-body {
    max-width: none !important;
    min-height: 100%
  }

  @media (min-width: 1200px ) {
    md-list.pip-menu {
      width: 300px;
      min-width: 300px;
    }

    .pip-content-container {
      width: 1100px - 300px;
    }
  }

  @media (min-width: 768px) and (max-width: 1200px) {
    md-list.pip-menu {
      width: 300px;
      min-width: 300px;
    }

    .pip-content-container {
      width: ~"calc(100% - 300px)";
    }
  }

  &.pip-card .pip-header ~ .pip-body, &.pip-document .pip-header ~ .pip-body {
    padding-top: 24px !important;
  }

}